<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Valorant, Skin, 瓦罗兰特, 无畏契约">
  <meta name="description"
    content="Valora (also named Valorant Shop Checker) is a site that helps you check your valorant daily shop and night market without opening the game or installing an app." />
  <meta name="author" content="GamerNoTitle, GamerNoTitle@outlook.com">
  <meta name="copyright" content="Copyright &copy; 2023 GamerNoTitle. All rights reserved.">
  <meta name="baidu-site-verification" content="codeva-TGDaXGUlDE" />
  <link rel="apple-touch-icon" sizes="76x76"
    href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/img/favicon.png">
  <link rel="icon" type="image/png" href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/img/favicon.png">
  <title>
    {{lang.global.title.card}} | Valora | GamerNoTitle
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="/assets/js/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle"
    href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/css/soft-design-system.css?v=1.0.9"
    rel="stylesheet" />
  <!-- Bootstrap 5 modals -->
  <script src="https://cdn.moeyy.cn/cdnjs/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
    integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.moeyy.cn/cdnjs/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
    integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.moeyy.cn/cdnjs/ajax/libs/bootstrap/5.2.3/js/bootstrap.esm.min.js"
    integrity="sha512-ruQ4xI8Jfep9W+qJQ8FLbxsjPVR0WvEt31XNw0mZxri2Nya9eQr7VTFsi+S7OvW0bIUI7vxF8zoaPNSq/PsvxA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- 引入 fancybox CSS -->
  <link rel="stylesheet" href="https://cdn.moeyy.cn/cdnjs/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
  <script defer data-site="val.bili33.top" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  <!-- 引入 jQuery -->
  <script src="https://cdn.moeyy.cn/cdnjs/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- 引入 fancybox JavaScript -->
  <script src="https://cdn.moeyy.cn/cdnjs/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?0c92d1638b51d9e5eeb143e3c16ba3e7";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <style>
    .alert-pink {
      color: #fb7299;
      background-color: #fb7299;
      border-color: #ffffff;
    }
  </style>
  <!-- Easter Egg -->
  <script>(new Date().getDate() === 1 && new Date().getMonth() === 3) && document.write('<script src="https://cdn.moeyy.cn/jsdelivr/gh/Vikutorika/newassets@master/js/smooth-April-Fools.js"><\/script>')</script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PZYM17KPGT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PZYM17KPGT');
  </script>
  <!-- Custom CSS -->
  <link href="/assets/css/custom-color.css" rel="stylesheet" />

</head>
<script src="https://uptime.betterstack.com/widgets/announcement.js" data-id="165758" async="async"
  type="text/javascript"></script>

<body class="index-page">
  {% if announcement and announcement_id %}
  <div id="announcementNotice">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <h3>{{lang.global.announcement.title}}</h3>
          <p>{{announcement|safe}}</p>
        </div>
        <div class="col-auto">
          <button type="button" id="announcementBtn">{{lang.global.announcement.button}}</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.moeyy.cn/cdnjs/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
    integrity="sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% endif %}

  <!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav
          class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip"
              title="Valorant Shop Checker | 瓦罗兰特商店查看" data-placement="bottom">
              Valora | {{lang.global.nav.title}}
            </a>
            <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">
                <li class="nav-item dropdown dropdown-hover mx-2">
                <li class="nav-item ms-lg-auto">
                  <a class="nav-link nav-link-icon me-2" href="https://github.com/GamerNoTitle/Valora" target="_blank">
                    <i class="fa fa-github me-1"></i>
                    <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="在Github查看本项目">Github</p>
                  </a>
                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a href="https://t.me/PaffChannel" class="btn btn-sm btn-primary btn-round mb-0 me-1 mt-2 mt-md-0"><i
                      class="ni ni-send"></i> Telegram</a>
                  <a href="https://gamernotitle.notion.site/gamernotitle/Valora-FAQ-86f072f8cebf4a8d9453a795b24cd507"
                    class="btn btn-sm btn-primary btn-round mb-0 me-1 mt-2 mt-md-0"><i class="fas fa-question"></i>
                    FAQ</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>

  <header class="header-2">
    <div class="page-header min-vh-75 relative"
      style="background-image: url('https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/img/1159991.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <style>
              svg {
                fill: #fff
              }
            </style>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 690 98.9">
              <path
                d="M615.11 19.15h24.69l.08 75.59c0 .97.79 1.77 1.77 1.77l14.14-.01c.98 0 1.77-.79 1.77-1.77l-.08-75.58h30.96c.91 0 1.43-1.06.85-1.77l-10.6-13.26a4.68 4.68 0 0 0-3.65-1.76h-59.93c-.98 0-1.77.79-1.77 1.77v13.26c0 .96.79 1.76 1.77 1.76M19.25 94.75 91.67 4.13c.57-.71.06-1.77-.85-1.77H72.71c-1.42 0-2.77.65-3.65 1.76L17.68 68.4V4.12c0-.98-.79-1.77-1.77-1.77H1.77C.79 2.35 0 3.14 0 4.12v90.62c0 .98.79 1.77 1.77 1.77H15.6c1.42 0 2.76-.65 3.65-1.76m51.06 0 24.91-31.17 24.91 31.17a4.685 4.685 0 0 0 3.66 1.76h13.83c.98 0 1.77-.79 1.77-1.77V4.12c0-.97-.79-1.77-1.77-1.77h-11.6c-2.84 0-5.53 1.29-7.31 3.51L47.69 94.73c-.57.71-.06 1.77.85 1.77h18.11c1.43.01 2.77-.64 3.66-1.75m51.39-66.21v41.75l-16.68-20.87 16.68-20.88zm404.37 66.19L453.65 4.11A4.68 4.68 0 0 0 450 2.35h-13.84c-.98 0-1.77.79-1.77 1.77v90.62c0 .98.79 1.77 1.77 1.77h13.83c1.42 0 2.77-.65 3.65-1.76l24.91-31.17 24.91 31.17a4.68 4.68 0 0 0 3.65 1.76h18.11c.91 0 1.42-1.06.85-1.78m-57.33-45.31L452.05 70.3V28.54l16.69 20.88zM269.45 0c-27.3 0-49.43 22.13-49.43 49.43s22.13 49.43 49.43 49.43 49.43-22.13 49.43-49.43C318.89 22.13 296.75 0 269.45 0m0 82.06c-17.54 0-31.75-14.61-31.75-32.63 0-18.02 14.21-32.64 31.75-32.64S301.2 31.4 301.2 49.43c.01 18.02-14.21 32.63-31.75 32.63M583.38 4.12V68.4L532 4.11a4.68 4.68 0 0 0-3.65-1.76H514.5c-.97 0-1.77.79-1.77 1.77v43.67c0 1.06.36 2.09 1.03 2.92l14.71 18.41c.65.81 1.95.35 1.95-.68v-38l51.39 64.31a4.68 4.68 0 0 0 3.65 1.76h13.83c.98 0 1.77-.79 1.77-1.77V4.12c0-.97-.79-1.77-1.77-1.77h-14.14c-.98 0-1.77.8-1.77 1.77M410.62 23.76V4.12c0-.98-.79-1.77-1.77-1.77h-72.37c-.98 0-1.77.79-1.77 1.77v90.62c0 .98.79 1.77 1.77 1.77h14.14c.98 0 1.77-.79 1.77-1.77V19.16h40.55l-27.37 34.26c-.51.64-.51 1.56 0 2.21l31.27 39.13a4.68 4.68 0 0 0 3.65 1.76h18.11c.91 0 1.42-1.06.85-1.77l-32.14-40.21 22.28-27.84c.66-.85 1.03-1.88 1.03-2.94M162.39 96.51h41.96c1.42 0 2.77-.65 3.65-1.76l10.6-13.27c.57-.71.06-1.77-.85-1.77H178.3V4.12c0-.98-.79-1.77-1.77-1.77h-14.14c-.98 0-1.77.79-1.77 1.77v90.62c0 .97.8 1.77 1.77 1.77">
              </path>
            </svg>
            <br>
            <p class="lead text-white mt-3">{{lang.global.description.line1}}<br />{{lang.global.description.line2}}
            </p>
          </div>
        </div>
      </div>

      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95)" />
          </g>
        </svg>
      </div>
    </div>
  </header>

  <div class="container-fluid px-0 overflow-hidden">
    <div class="row text-center py-2 mt-3">
      <div class="col-12 mx-auto">
        <a href="/"><button type="button" class="btn bg-gradient-info btn-lg"><i class="fas fa-home"></i>
            {{lang.global.button.home}}</button></a>
        <a href="/library"><button type="button" class="btn bg-gradient-success btn-lg"><i
            class="fas fa-book"></i>
          {{lang.global.button.library}}</button></a>
        <a href="/trans"><button type="button" class="btn bg-gradient-warning btn-lg"><i class="fas fa-language"></i>
            {{lang.global.button.trans}}</button></a>
        <a href="//bili33.top/sponsors" target="_blank"><button type="button" class="btn bg-gradient-primary btn-lg"><i
              class="fas fa-coins"></i>
            {{lang.global.button.sponsor}}</button></a>
      </div>
    </div>
  </div>

  <div class="container">
    <a href="/library/accessory/card">
      <h1 class="text-gradient text-primary mb-0 mt-2" align="center">{{lang.accessorylib.card.title}}</h1>
    </a>
    <br>
    <div width="100%">
      <div class="container-fluid px-0 overflow-hidden">
        <div class="row text-center py-2 mt-3">
          <div class="col-12 mx-auto">
            <a href="/library/accessory/spray"><button type="button"
                class="btn bg-gradient-sr-sliver-wolf btn-lg"><i class="fas fa-puzzle-piece"></i> {{lang.accessorylib.button.spray}}</button></a>
            <a href="/library/accessory/title"><button type="button"
                class="btn bg-gradient-cold-sea btn-lg"><i class="fas fa-heading"></i> {{lang.accessorylib.button.title}}</button></a>
            <a href="/library/accessory/card"><button type="button"
                class="btn bg-gradient-purple-pink btn-lg"><i class="fas fa-id-card-alt"></i> {{lang.accessorylib.button.card}}</button></a>
          </div>
        </div>
      </div>
    </div>  
    <br>
  </div>

  <div class="container">
    <div class="row">
      {% for card in cards %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm rounded">
          <div class="gun-image">
            <a href="{{card.large|safe}}" data-fancybox="gallery"><img width=100% src={{card.wide|safe}}></a>
          </div>
          <div class="card-body">
            <h3 class="text-gradient text-primary mb-0 mt-2">{{card.name|safe}}</h3>
            <br>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <section>
    <footer class="footer pt-5 mt-5">
      <hr class="horizontal dark mb-5">
      <div class="container">
        <div class=" row">
          <div class="col-md-3 mb-4 ms-auto">
            <div>
              <h6 class="text-gradient text-primary font-weight-bolder">GamerNoTitle</h6>
            </div>
            <div>
              <h6 class="mt-3 mb-2 opacity-8">Social</h6>
              <ul class="d-flex flex-row ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link pe-1" href="https://bili33.top" target="_blank">
                    <i class="fas fa-home text-lg opacity-8" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pe-1" href="https://twitter.com/GamerNoTitle" target="_blank">
                    <i class="fab fa-twitter text-lg opacity-8" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pe-1" href="https://github.com/GamerNoTitle" target="_blank">
                    <i class="fab fa-github text-lg opacity-8" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pe-1" href="https://www.youtube.com/@GamerNoTitle" target="_blank">
                    <i class="fab fa-youtube text-lg opacity-8" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
              <!-- <li class="nav-item"> -->
              <!-- <a href="http://beian.miit.gov.cn/" class="nav-link" target=_blank><img
                    src='https://img.alicdn.com/tfs/TB1..50QpXXXXX7XpXXXXXXXXXX-40-40.png' width=20px height=20px> 沪ICP备
                  2021023713号</a> -->
              <!-- </li> -->
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-6 mb-4">
            <!-- <div>
                <h6 class="text-gradient text-primary text-sm">Company</h6>
                <ul class="flex-column ms-n3 nav">
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.creative-tim.com/presentation" target="_blank">
                      About Us
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.creative-tim.com/templates/free" target="_blank">
                      Freebies
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.creative-tim.com/templates/premium" target="_blank">
                      Premium Tools
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.creative-tim.com/blog" target="_blank">
                      Blog
                    </a>
                  </li>
                </ul>
              </div> -->
          </div>
          <div class="col-md-2 col-sm-6 col-6 mb-4">
            <div>
              <!-- <h6 class="text-gradient text-primary text-sm">Resources</h6>
                <ul class="flex-column ms-n3 nav">
                  <li class="nav-item">
                    <a class="nav-link" href="https://iradesign.io/" target="_blank">
                      Illustrations
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.creative-tim.com/bits" target="_blank">
                      Bits &amp; Snippets
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.creative-tim.com/affiliates/new" target="_blank">
                      Affiliate Program
                    </a>
                  </li>
                </ul> -->
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-6 mb-4">
            <div>
              <h6 class="text-gradient text-primary text-sm">Help &amp; Support</h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://t.me/PaffChannel" target="_blank">
                    Telegram Channel
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://t.me/DohnaNyan" target="_blank">
                    Telegram Group
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://bili33.top/sponsors" target="_blank">
                    Sponsorships
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://status.val.bili33.top/" target="_blank">
                    Status Page
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
            <div>
              <h6 class="text-gradient text-primary text-sm">Legal</h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://gamernotitle.notion.site/gamernotitle/VSC-FAQ-86f072f8cebf4a8d9453a795b24cd507"
                    target="_blank">
                    FAQ
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://gamernotitle.notion.site/gamernotitle/VALORA-FAQ-86f072f8cebf4a8d9453a795b24cd507#12ddcd236fdb4c6abf205eb55587ccbc"
                    target="_blank">
                    Disclaimer
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/EULA" target="_blank">
                    Licenses (EULA)
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <p class="my-4 text-sm">
                <strong>
                  <p class="text-danger text-gradient">Riot Games, Valorant, and any associated logos are trademarks,
                    service marks, and/or
                    registered trademarks of Riotgames, lnc. Valora is not associated with Riot Games, lnc.</p>
                </strong>
                All rights reserved. Copyright ©
                <script>document.write(new Date().getFullYear())</script> <a href="https://bili33.top"
                  target="_blank"><u>GamerNoTitle</u></a>. | Open-Source project <a
                  href="https://github.com/GamerNoTitle/Valora" target="_blank"><u>Valora</u></a> is avaliable on
                Github.
                <a href="http://beian.miit.gov.cn/" class="nav-link" id="icp" target=_blank><img
                    src='https://img.alicdn.com/tfs/TB1..50QpXXXXX7XpXXXXXXXXXX-40-40.png' width=20px height=20px> 沪ICP备
                  2021023713号</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <script>
    // 获取当前页面的域名
    const domain = window.location.hostname;

    // 判断域名是否符合要求
    if (!domain.endsWith('bili33.top')) {
      // 如果不符合要求，则隐藏元素
      document.getElementById('icp').style.display = 'none';
    }
  </script>
  <script>
    $(document).ready(function () {
      $("[data-fancybox]").fancybox({
        buttons: [
          "zoom",
          "slideShow",
          "fullScreen",
          "download",
          "thumbs",
          "close"
        ]
      });
    });
  </script>
  <script>
    // 获取关闭按钮和悬浮窗元素
    const announcementNotice = document.getElementById('announcementNotice');
    const announcementBtn = document.getElementById('announcementBtn');

    // 关闭悬浮窗
    function closeannouncementNotice() {
      announcementNotice.style.animation = 'fadeOut 1s';
      setTimeout(() => {
        announcementNotice.style.display = 'none';
      }, 1000);
    }

    // 设置关闭按钮的点击事件
    announcementBtn.addEventListener('click', setLocalStorage);

    // 检查是否设置了localStorage，如果设置了，则关闭悬浮窗
    function checkLocalStorage() {
      // 获取当前页面的announcement_id
      const currentAnnouncementId = "{{announcement_id}}";
      const currentAnnouncement = `{{announcement}}`;

      // 获取localStorage中保存的announcement_id
      const localStorageValue = localStorage.getItem("announcementNoticeId");
      const localStorageAnn = localStorage.getItem("announcementNotice");

      // 如果localStorage中的announcement_id与当前页面的announcement_id相同，则不弹出悬浮窗
      if (localStorageValue === currentAnnouncementId || localStorageAnn === currentAnnouncement) {
        announcementNotice.style.display = 'none';
      } else {
        announcementNotice.style.display = 'flex';
      }
    }

    // 设置localStorage，并关闭悬浮窗
    function setLocalStorage() {
      const currentAnnouncementId = "{{announcement_id}}";
      const currentAnnouncement = `{{announcement}}`
      localStorage.setItem("announcementNoticeId", currentAnnouncementId);
      localStorage.setItem("announcementNotice", currentAnnouncement);
      closeannouncementNotice();
    }

    // 在页面加载完成后检查localStorage
    document.addEventListener('DOMContentLoaded', checkLocalStorage);
  </script>

</body>