<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Valorant, Skin, 瓦罗兰特, 无畏契约">
  <meta name="description"
    content="Valora (also named Valorant Shop Checker) is a site that helps you check your valorant daily shop and night market without opening the game or installing an app." />
  <meta name="author" content="GamerNoTitle, GamerNoTitle@outlook.com">
  <meta name="copyright" content="Copyright &copy; 2023 GamerNoTitle. All rights reserved.">
  <meta name="baidu-site-verification" content="codeva-TGDaXGUlDE" />
  <link rel="apple-touch-icon" sizes="76x76"
    href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/img/favicon.png">
  <link rel="icon" type="image/png" href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/img/favicon.png">
  <title>
    EULA | Valora
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="/assets/js/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle"
    href="https://cdn.moeyy.cn/jsdelivr/gh/GamerNoTitle/Valora@master/assets/css/soft-design-system.css?v=1.0.9"
    rel="stylesheet" />
  
  <!-- Easter Egg -->
  <script>(new Date().getDate() === 1 && new Date().getMonth() === 3) && document.write('<script src="https://cdn.moeyy.cn/jsdelivr/gh/Vikutorika/newassets@master/js/smooth-April-Fools.js"><\/script>')</script>
  <!-- Custom CSS -->
  <link href="/assets/css/custom-color.css" rel="stylesheet" />
</head>


<body class="index-page">
  {% if announcement and announcement_id %}
  <div id="announcementNotice">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <h3>{{lang.global.announcement.title}}</h3>
          <p>{{announcement|safe}}</p>
        </div>
        <div class="col-auto">
          <button type="button" id="announcementBtn">{{lang.global.announcement.button}}</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.moeyy.cn/cdnjs/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
    integrity="sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% endif %}
  <div class="container py-2 mt-2 overflow-hidden">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">EULA</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-6">
        <h3 class="text-gradient text-primary mb-0 mt-2">EULA | Valora (Auto Generated)</h3>


        <h1>End-User License Agreement (&quot;Agreement&quot;)</h1>
        <p>Last updated: April 24, 2023</p>
        <p>Please read this End-User License Agreement carefully before clicking the &quot;I Agree&quot; button,
          downloading or using Valorant Shop Checker.</p>
        <h1>Interpretation and Definitions</h1>
        <h2>Interpretation</h2>
        <p>The words of which the initial letter is capitalized have meanings defined under the following conditions.
          The following definitions shall have the same meaning regardless of whether they appear in singular or in
          plural.</p>
        <h2>Definitions</h2>
        <p>For the purposes of this End-User License Agreement:</p>
        <ul>
          <li>
            <p><strong>Agreement</strong> means this End-User License Agreement that forms the entire agreement between
              You and the Company regarding the use of the Application. This Agreement has been created with the help of
              the <a href="https://www.termsfeed.com/eula-generator/" target="_blank">TermsFeed EULA Generator</a>.</p>
          </li>
          <li>
            <p><strong>Application</strong> means the software program provided by the Company downloaded by You to a
              Device, named Valorant Shop Checker</p>
          </li>
          <li>
            <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot;
              or &quot;Our&quot; in this Agreement) refers to Valorant Shop Checker.</p>
          </li>
          <li>
            <p><strong>Content</strong> refers to content such as text, images, or other information that can be posted,
              uploaded, linked to or otherwise made available by You, regardless of the form of that content.</p>
          </li>
          <li>
            <p><strong>Country</strong> refers to: China</p>
          </li>
          <li>
            <p><strong>Device</strong> means any device that can access the Application such as a computer, a cellphone
              or a digital tablet.</p>
          </li>
          <li>
            <p><strong>Third-Party Services</strong> means any services or content (including data, information,
              applications and other products services) provided by a third-party that may be displayed, included or
              made available by the Application.</p>
          </li>
          <li>
            <p><strong>You</strong> means the individual accessing or using the Application or the company, or other
              legal entity on behalf of which such individual is accessing or using the Application, as applicable.</p>
          </li>
        </ul>
        <h1>Acknowledgment</h1>
        <p>By clicking the &quot;I Agree&quot; button, downloading or using the Application, You are agreeing to be
          bound by the terms and conditions of this Agreement. If You do not agree to the terms of this Agreement, do
          not click on the &quot;I Agree&quot; button, do not download or do not use the Application.</p>
        <p>This Agreement is a legal document between You and the Company and it governs your use of the Application
          made available to You by the Company.</p>
        <p>The Application is licensed, not sold, to You by the Company for use strictly in accordance with the terms of
          this Agreement.</p>
        <h1>License</h1>
        <h2>Scope of License</h2>
        <p>The Company grants You a revocable, non-exclusive, non-transferable, limited license to download, install and
          use the Application strictly in accordance with the terms of this Agreement.</p>
        <p>The license that is granted to You by the Company is solely for your personal, non-commercial purposes
          strictly in accordance with the terms of this Agreement.</p>
        <h1>Third-Party Services</h1>
        <p>The Application may display, include or make available third-party content (including data, information,
          applications and other products services) or provide links to third-party websites or services.</p>
        <p>You acknowledge and agree that the Company shall not be responsible for any Third-party Services, including
          their accuracy, completeness, timeliness, validity, copyright compliance, legality, decency, quality or any
          other aspect thereof. The Company does not assume and shall not have any liability or responsibility to You or
          any other person or entity for any Third-party Services.</p>
        <p>You must comply with applicable Third parties' Terms of agreement when using the Application. Third-party
          Services and links thereto are provided solely as a convenience to You and You access and use them entirely at
          your own risk and subject to such third parties' Terms and conditions.</p>
        <h1>Term and Termination</h1>
        <p>This Agreement shall remain in effect until terminated by You or the Company.
          The Company may, in its sole discretion, at any time and for any or no reason, suspend or terminate this
          Agreement with or without prior notice.</p>
        <p>This Agreement will terminate immediately, without prior notice from the Company, in the event that you fail
          to comply with any provision of this Agreement. You may also terminate this Agreement by deleting the
          Application and all copies thereof from your Device or from your computer.</p>
        <p>Upon termination of this Agreement, You shall cease all use of the Application and delete all copies of the
          Application from your Device.</p>
        <p>Termination of this Agreement will not limit any of the Company's rights or remedies at law or in equity in
          case of breach by You (during the term of this Agreement) of any of your obligations under the present
          Agreement.</p>
        <h1>Indemnification</h1>
        <p>You agree to indemnify and hold the Company and its parents, subsidiaries, affiliates, officers, employees,
          agents, partners and licensors (if any) harmless from any claim or demand, including reasonable attorneys'
          fees, due to or arising out of your: (a) use of the Application; (b) violation of this Agreement or any law or
          regulation; or (c) violation of any right of a third party.</p>
        <h1>No Warranties</h1>
        <p>The Application is provided to You &quot;AS IS&quot; and &quot;AS AVAILABLE&quot; and with all faults and
          defects without warranty of any kind. To the maximum extent permitted under applicable law, the Company, on
          its own behalf and on behalf of its affiliates and its and their respective licensors and service providers,
          expressly disclaims all warranties, whether express, implied, statutory or otherwise, with respect to the
          Application, including all implied warranties of merchantability, fitness for a particular purpose, title and
          non-infringement, and warranties that may arise out of course of dealing, course of performance, usage or
          trade practice. Without limitation to the foregoing, the Company provides no warranty or undertaking, and
          makes no representation of any kind that the Application will meet your requirements, achieve any intended
          results, be compatible or work with any other software, applications, systems or services, operate without
          interruption, meet any performance or reliability standards or be error free or that any errors or defects can
          or will be corrected.</p>
        <p>Without limiting the foregoing, neither the Company nor any of the company's provider makes any
          representation or warranty of any kind, express or implied: (i) as to the operation or availability of the
          Application, or the information, content, and materials or products included thereon; (ii) that the
          Application will be uninterrupted or error-free; (iii) as to the accuracy, reliability, or currency of any
          information or content provided through the Application; or (iv) that the Application, its servers, the
          content, or e-mails sent from or on behalf of the Company are free of viruses, scripts, trojan horses, worms,
          malware, timebombs or other harmful components.</p>
        <p>Some jurisdictions do not allow the exclusion of certain types of warranties or limitations on applicable
          statutory rights of a consumer, so some or all of the above exclusions and limitations may not apply to You.
          But in such a case the exclusions and limitations set forth in this section shall be applied to the greatest
          extent enforceable under applicable law. To the extent any warranty exists under law that cannot be
          disclaimed, the Company shall be solely responsible for such warranty.</p>
        <h1>Limitation of Liability</h1>
        <p>Notwithstanding any damages that You might incur, the entire liability of the Company and any of its
          suppliers under any provision of this Agreement and your exclusive remedy for all of the foregoing shall be
          limited to the amount actually paid by You for the Application or through the Application or 100 USD if You
          haven't purchased anything through the Application.</p>
        <p>To the maximum extent permitted by applicable law, in no event shall the Company or its suppliers be liable
          for any special, incidental, indirect, or consequential damages whatsoever (including, but not limited to,
          damages for loss of profits, loss of data or other information, for business interruption, for personal
          injury, loss of privacy arising out of or in any way related to the use of or inability to use the
          Application, third-party software and/or third-party hardware used with the Application, or otherwise in
          connection with any provision of this Agreement), even if the Company or any supplier has been advised of the
          possibility of such damages and even if the remedy fails of its essential purpose.</p>
        <p>Some states/jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so
          the above limitation or exclusion may not apply to You.</p>
        <h1>Severability and Waiver</h1>
        <h2>Severability</h2>
        <p>If any provision of this Agreement is held to be unenforceable or invalid, such provision will be changed and
          interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable
          law and the remaining provisions will continue in full force and effect.</p>
        <h2>Waiver</h2>
        <p>Except as provided herein, the failure to exercise a right or to require performance of an obligation under
          this Agreement shall not effect a party's ability to exercise such right or require such performance at any
          time thereafter nor shall the waiver of a breach constitute a waiver of any subsequent breach.</p>
        <h1>Product Claims</h1>
        <p>The Company does not make any warranties concerning the Application.</p>
        <h1>United States Legal Compliance</h1>
        <p>You represent and warrant that (i) You are not located in a country that is subject to the United States
          government embargo, or that has been designated by the United States government as a &quot;terrorist
          supporting&quot; country, and (ii) You are not listed on any United States government list of prohibited or
          restricted parties.</p>
        <h1>Changes to this Agreement</h1>
        <p>The Company reserves the right, at its sole discretion, to modify or replace this Agreement at any time. If a
          revision is material we will provide at least 30 days' notice prior to any new terms taking effect. What
          constitutes a material change will be determined at the sole discretion of the Company.</p>
        <p>By continuing to access or use the Application after any revisions become effective, You agree to be bound by
          the revised terms. If You do not agree to the new terms, You are no longer authorized to use the Application.
        </p>
        <h1>Governing Law</h1>
        <p>The laws of the Country, excluding its conflicts of law rules, shall govern this Agreement and your use of
          the Application. Your use of the Application may also be subject to other local, state, national, or
          international laws.</p>
        <h1>Entire Agreement</h1>
        <p>The Agreement constitutes the entire agreement between You and the Company regarding your use of the
          Application and supersedes all prior and contemporaneous written or oral agreements between You and the
          Company.</p>
        <p>You may be subject to additional terms and conditions that apply when You use or purchase other Company's
          services, which the Company will provide to You at the time of such use or purchase.</p>
        <h1>Contact Us</h1>
        <p>If you have any questions about this Agreement, You can contact Us:</p>
        <ul>
          <li>
            <p>By email: GamerNoTitle@outlook.com</p>
          </li>
          <li>
            <p>By visiting this telegram group: <a href="https://t.me/DohnaNyan" rel="external nofollow noopener"
                target="_blank">https://t.me/DohnaNyan</a></p>
          </li>
          <li>
            <p>By visiting Github page: <a href="https://github.com/GamerNoTitle/Valora"
                rel="external nofollow noopener" target="_blank">https://github.com/GamerNoTitle/Valora</a></p>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <section>
    <footer class="footer pt-5 mt-5">
      <hr class="horizontal dark mb-5">
      <div class="container">
        <div class=" row">
          <!-- <div class="col-md-3 mb-4 ms-auto">
            <div>
              <h6 class="text-gradient text-primary font-weight-bolder">GamerNoTitle</h6>
            </div>
            <div>
              <h6 class="mt-3 mb-2 opacity-8">Social</h6>
              <ul class="d-flex flex-row ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link pe-1" href="https://bili33.top" target="_blank">
                    <i class="fas fa-home text-lg opacity-8" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pe-1" href="https://twitter.com/GamerNoTitle" target="_blank">
                    <i class="fab fa-twitter text-lg opacity-8" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pe-1" href="https://github.com/GamerNoTitle" target="_blank">
                    <i class="fab fa-github text-lg opacity-8" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pe-1" href="https://www.youtube.com/@GamerNoTitle" target="_blank">
                    <i class="fab fa-youtube text-lg opacity-8" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
              <li class="nav-item">
              <a href="http://beian.miit.gov.cn/" class="nav-link" target=_blank><img
                  src='https://img.alicdn.com/tfs/TB1..50QpXXXXX7XpXXXXXXXXXX-40-40.png' width=20px height=20px> 沪ICP备
                2021023713号</a>
              </li>
            </div>
          </div> -->
          <!-- <div class="col-md-2 col-sm-6 col-6 mb-4">
            <div>
              <h6 class="text-gradient text-primary text-sm">Company</h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://www.creative-tim.com/presentation" target="_blank">
                    About Us
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.creative-tim.com/templates/free" target="_blank">
                    Freebies
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.creative-tim.com/templates/premium" target="_blank">
                    Premium Tools
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.creative-tim.com/blog" target="_blank">
                    Blog
                  </a>
                </li>
              </ul>
            </div>
          </div> -->
          <!-- <div class="col-md-2 col-sm-6 col-6 mb-4">
            <div>
              <h6 class="text-gradient text-primary text-sm">Resources</h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://iradesign.io/" target="_blank">
                    Illustrations
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.creative-tim.com/bits" target="_blank">
                    Bits &amp; Snippets
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.creative-tim.com/affiliates/new" target="_blank">
                    Affiliate Program
                  </a>
                </li>
              </ul>
            </div>
          </div> -->
          <!-- <div class="col-md-2 col-sm-6 col-6 mb-4">
            <div>
              <h6 class="text-gradient text-primary text-sm">Help &amp; Support</h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://t.me/PaffChannel" target="_blank">
                    Telegram Channel
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://t.me/DohnaNyan" target="_blank">
                    Telegram Group
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://bili33.top/sponsors" target="_blank">
                    Sponsorships
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://status.val.bili33.top/" target="_blank">
                    Status Page
                  </a>
                </li>
              </ul>
            </div>
          </div> -->
          <!-- <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
            <div>
              <h6 class="text-gradient text-primary text-sm">Legal</h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://gamernotitle.notion.site/gamernotitle/VSC-FAQ-86f072f8cebf4a8d9453a795b24cd507"
                    target="_blank">
                    FAQ
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://gamernotitle.notion.site/gamernotitle/VALORA-FAQ-86f072f8cebf4a8d9453a795b24cd507#12ddcd236fdb4c6abf205eb55587ccbc"
                    target="_blank">
                    Disclaimer
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/EULA" target="_blank">
                    Licenses (EULA)
                  </a>
                </li>
              </ul>
            </div>
          </div> -->
          <div class="col-12">
            <div class="text-center">
              <p class="my-4 text-sm">
                <strong>
                  <p class="text-danger text-gradient">Riot Games, Valorant, and any associated logos are trademarks,
                    service marks, and/or
                    registered trademarks of Riotgames, lnc. Valora is not associated with Riot Games, lnc.</p>
                </strong>
                All rights reserved. Copyright ©
                <script>document.write(new Date().getFullYear())</script> <a href="https://bili33.top"
                  target="_blank"><u>GamerNoTitle</u></a>. | Open-Source project <a
                  href="https://github.com/GamerNoTitle/Valora" target="_blank"><u>Valora</u></a> is avaliable on Github.
                  <!-- <br> 
                <a href="http://beian.miit.gov.cn/" class="nav-link" id="icp" target=_blank><img
                    src='https://img.alicdn.com/tfs/TB1..50QpXXXXX7XpXXXXXXXXXX-40-40.png' width=20px height=20px> 沪ICP备
                  2021023713号</a> -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!-- <script>
    // 获取当前页面的域名
    const domain = window.location.hostname;

    // 判断域名是否符合要求
    if (!domain.endsWith('bili33.top')) {
      // 如果不符合要求，则隐藏元素
      document.getElementById('icp').style.display = 'none';
    }
  </script> -->
</body>